<div class="box-card">
    <ion-card color="success" class="flex-between pr-14 pointer">
        <ion-card-content>
          <ion-card-title class="fs-20">Pendapatan<br/>Hari ini</ion-card-title>
          <ion-card-subtitle class="fs-18 bold">Rp. 100.000</ion-card-subtitle>
        </ion-card-content>
        <ion-icon class="box-icon" name="cash"></ion-icon>
      </ion-card>

      <ion-card color="warning" class="flex-between pr-14 pointer">
        <ion-card-content>
          <ion-card-title class="fs-20">Pendapatan<br/>Bulan ini</ion-card-title>
          <ion-card-subtitle class="fs-18 bold">Rp. 1.000.000</ion-card-subtitle>
        </ion-card-content>
        <ion-icon class="box-icon" name="wallet"></ion-icon>
        </ion-card>

        <ion-card color="danger" class="flex-between pr-14 pointer">
            <ion-card-content>
              <ion-card-title class="fs-20">Member hotspot<br/>Terdaftar</ion-card-title>
              <ion-card-subtitle class="fs-18 bold">100 Org</ion-card-subtitle>
            </ion-card-content>
            <ion-icon class="box-icon" name="people"></ion-icon>
    </ion-card>
</div>