<div class="table-section">
    <ion-card class="table-panel table-panel-default table-panel-hovered mb20 max-H-370 activities md">
        <ion-card-header>
<ion-label>Expired Hari ini</ion-label>
        </ion-card-header>
        <ion-list class="table-panel-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Created_On</th>
                        <th>Expires_On</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#1</td>
                        <td>jojon</td>
                        <td>20-02-2023</td>
                        <td>21-02-2023</td>
                    </tr>
                </tbody>
            </table>
        </ion-list>
    </ion-card>

    <ion-card class="table-panel table-panel-default table-panel-hovered mb20 max-H-370 activities md">
        <ion-card-header>
<ion-label>Aktifitas Login</ion-label>
        </ion-card-header>
        <ion-list class="table-panel-body table-responsive">
            <ion-item>
              <ion-avatar slot="start">
                <img src="{{site.avatar}}" />
              </ion-avatar>
              <ion-label>
                <h3>Admin berhasil login</h3>
                <p>08.00 - 20.022.2023</p>
              </ion-label>
            </ion-item>
        </ion-list>
    </ion-card>
</div>