<div class="table-section">
    <ion-card class="table-panel table-panel-default table-panel-hovered mb20 max-H-370 activities md">
        <ion-card-header>
<ion-label>Expired Hari ini</ion-label>
        </ion-card-header>
        <ion-list class="table-panel-body pt-0 maxH-320 table-responsive">
<ion-grid>
  <ion-row>
    <ion-col class="numbr head">no</ion-col>
    <ion-col class="head">Username</ion-col>
    <ion-col class="head">tgl. Aktif</ion-col>
    <ion-col class="head">tgl. Expired</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="numbr">1</ion-col>
    <ion-col>Jojon</ion-col>
    <ion-col>12-02-2023</ion-col>
    <ion-col>13-02-2023</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="numbr">2</ion-col>
    <ion-col>Ikbal</ion-col>
    <ion-col>12-02-2023</ion-col>
    <ion-col>13-02-2023</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="numbr">3</ion-col>
    <ion-col>Oman</ion-col>
    <ion-col>12-02-2023</ion-col>
    <ion-col>13-02-2023</ion-col>
  </ion-row>
</ion-grid>
        </ion-list>
    </ion-card>

    <ion-card class="table-panel table-panel-default table-panel-hovered mb20 max-H-370 activities md">
        <ion-card-header>
<ion-label>Aktifitas Login</ion-label>
        </ion-card-header>
        <ion-list class="table-panel-body pt-0 table-responsive">
            <ion-item>
              <ion-avatar slot="start">
                <img src="{{site.avatar}}" />
              </ion-avatar>
              <ion-label>
                <h3>Admin berhasil login</h3>
                <p>08.00 - 20.022.2023</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <img src="{{site.avatar}}" />
              </ion-avatar>
              <ion-label>
                <h3>Sales berhasil login</h3>
                <p>06.00 - 20.022.2023</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <img src="{{site.avatar}}" />
              </ion-avatar>
              <ion-label>
                <h3>Sales berhasil login</h3>
                <p>07.00 - 19.022.2023</p>
              </ion-label>
            </ion-item>
        </ion-list>
    </ion-card>
</div>
<style>
  ion-col.numbr {
    max-width: 38px;
  }

  ion-col {
    background-color: #93a1a1;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }
  ion-col.head {
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }
</style>
